<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
    <h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 60px;">
        TigerPAWS
    </h1>

    <div style="background: ghostwhite; 
            font-size: 25px; 
            padding: 10px; 
            border: 1px solid lightgray; 
            margin-top: 0px;
            margin-right: 35%;
            margin-left: 35%;
            margin-top: 50px;
            opacity: 0.8;">

        <div class="login" style="color: rgb(0, 0, 0)">
            <form id="login" #userlogin = "ngForm" (ngSubmit) = "checkLogin(userlogin.value)">
                <label style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><b>Username
                    </b>
                </label>
                <input type="text" name="username" id="Uname" placeholder="Username" ngModel>
                <br><br>
                <label style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><b>Password
                    </b>
                </label>
                <input type="Password" name="password" id="Pass" placeholder="Password" ngModel>
                <br><br>
                <input type="submit" name="log" id="log" value="Log In Here">
                <br><br>
            </form>
        </div>
    </div>
</div>


<app-footer></app-footer>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>