<nav>
    <app-header></app-header>
</nav>

<section class = "hero is-primary is-bold is-fullheight">
    <div class = "hero-body">
        <div class = "container has text-centered">           
            <h1 class="text-font" style="font-size: 60px;">
                TigerPAWS
            </h1>
            <app-menubar id = "menu"></app-menubar>
        </div>
    </div>
    
    <div id="rectangle">
        <app-calender></app-calender>
    </div>
    <app-footer></app-footer>
</section>



