:root {
  --base-spacing-unit: 24px;
  --half-spacing-unit: --base-spacing-unit / 2;

  --color-alpha: #505254;
  --color-form-highlight: #EEEEEE;
}

.big-box{
  font-weight: 400; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background: ghostwhite; 
   padding-top: 20pt;

   padding-bottom: 20pt;
   margin-right: 40pt;
   margin-left: 40pt;
   opacity: .85;
   z-index: -1;
}

nav{
    height:5vh;
    /*Or fixed pixel unit*/
}

section {
    text-align: center;
    height: calc(90vh);
    /* - Height: calc(100vh - (navheight + footer))
       - Over flow y make the dive scrollable 
    when it exceed the fixed height*/
    overflow-y: auto;
    transition: all 0.5s;
    background: url('./Bgnd12.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
  }
  
  li {
    float: left;
  }
  
  li a {
   font-weight: 400; 
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: gray;
  }


.box {
  display: flex;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: rgba( 71, 147, 227, 1);
}
h2{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
  /*margin: 10px 400px 70px;*/
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

table, th, td {
  font-size: 15px;
 
  border: 1px solid black;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid black;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #7a7c7d;
}


.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}

  /* Style The Dropdown Button */
.dropbtn {
  background-color: rgba(80,80,80,0.5);
  color: white;
  padding: 8px;
  margin-left: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
  position: relative;
  display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
  display: none;
  
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
  color: black;
  padding: 12px 12px;
  font-size: 18px;
  text-decoration: none;
  display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
  display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
  background-color: rgba(80,80,80,.8);
  }