<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">


    <title>time table - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
</head>

<body>
    <!-- <div class="container">
        <div class="timetable-img text-center">
            <img src="img/content/timetable.png" alt="">
        </div> -->
    <!-- <div class="table-responsive"> -->
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th class="text-uppercase">Time</th>
                <th class="text-uppercase">Monday</th>
                <th class="text-uppercase">Tuesday</th>
                <th class="text-uppercase">Wednesday</th>
                <th class="text-uppercase">Thursday</th>
                <th class="text-uppercase">Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let time of times">
                <td class="align-middle font-weight-bold">{{time}}</td>
                <td *ngFor="let day of days" [ngSwitch]="timedict[time][day].length > 0">
                    <span *ngSwitchCase="true" class="classname bg-{{timedict[time][day][0].color}}">
                        {{timedict[time][day][0].name}}
                    </span>
                    <div *ngSwitchCase="true" class="margin-10px-top font-size14">{{timedict[time][day][0].time}}</div>
                    <div *ngSwitchCase="true" class="font-size13">{{timedict[time][day][0].prof}}</div>
                    <div *ngSwitchCase="true" class="font-size12">{{timedict[time][day][0].code}}</div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- </div> -->
    <!-- </div> -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>