<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">


    <!-- <title>time table - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
</head>

<body>
    <div id="rectangle">
        <h1 id="semestertitle" class="text-font"
            style="color: black; font-size: 32px;font-weight: 600; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
            SCHEDULE: {{semesters[0]}}
            <div class="dropdown">
                <button class="dropbtn">Term</button>
                <div class="dropdown-content">
                    <button *ngFor="let sem of semesters" (click)="switchSemester(sem)">{{sem}}</button>
                </div>
            </div>
        </h1>


        <div id="cal" style="display: block">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th class="text-uppercase">Time</th>
                        <th class="text-uppercase">Monday</th>
                        <th class="text-uppercase">Tuesday</th>
                        <th class="text-uppercase">Wednesday</th>
                        <th class="text-uppercase">Thursday</th>
                        <th class="text-uppercase">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let time of times">
                        <td class="align-middle font-weight-bold">{{time}}</td>
                        <td *ngFor="let day of days" [ngSwitch]="timedict[time][day] != null">
                            <span *ngSwitchCase="true" class="classname bg-{{timedict[time][day].color}}">
                                {{timedict[time][day].name}}
                            </span>
                            <div *ngSwitchCase="true" class="margin-10px-top font-size14">
                                {{timedict[time][day].time}}</div>
                            <div *ngSwitchCase="true" class="font-size13">{{timedict[time][day].prof}}</div>
                            <div *ngSwitchCase="true" class="font-size12">{{timedict[time][day].code}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>